.Input {
    width: 100%;
    height: 40px;
    font-size: 17px;
}

.Label {
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    display: block;
    color: white;
    background-color: #00b38f;
}