.ListItem {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    background-color: #f5f5f0;
}

.ListItem:first-child {
    padding-top: 10px;
}

.Avatar {
    height: 50px;
    width: 50px;
}

.Avatar img {
    border-radius: 50%;
}

.FullName {
    width:20%;
}